html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline:none;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  outline: none;
  background: none;
  border: 0;
  display: block;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  text-align: left;
  overflow: visible;
  padding: 0;
  appearance: button; /* for input */
  user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"] {
  appearance: textfield;
}

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  user-select: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a:focus{
  outline:0 !important;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

label {
  display: block;
  cursor: pointer;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

input::-ms-clear {
  display: none;
}

*
{
  box-sizing: border-box;
  position: relative;
}



